# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.VoidDefender.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\qrno9\Documents\Unterlagen\Studium\Master\1_Semester_WS_2020\Intro_Unity\Git\VoidDefender\.idea\.idea.VoidDefender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
